@page "/"

<h1>STREME SPOATS</h1>

Welcome Streme Spoat's product reviews !

<h2>Top reviews of the week</h2>

<table>
    <tr>
        <th>Rank </th>
        <th>Product Review</th>
        <th>Product</th>
    </tr>
    <tr>
        <td>1</td>
        <td>
            <li>Product Name:Ankara Messy FastGo Limited Edition Boots </li>
            <li>Review: The boot has a very nice feel around your foot and grips well when making sudden turns. Provides an almost barefoot playing feel resulting, in my experience, better control of the ball and ball movement.</li>
        </td>
        <td><img src="https://assets.adidas.com/images/w_600,f_auto,q_auto/81acfcdb862142c08016ad5c0080a178_9366/X_Speedflow.1_Messi_Firm_Ground_Boots_Blue_FY6879.jpg" alt="Poster" width="250" height="300"></td>
    </tr>
    <tr>
        <td>2</td>
        <td>
            <li>Product Name:Bakers 2020/2021 Basketball Shorts </li>
            <li>Review: Good quality and very comfortable, a must buy if your planning to.</li>
        </td>
        <td><img src="https://fanbuzz.com/wp-content/uploads/sites/5/2020/06/Nike-Dri-FIT-Icon-.jpg" alt="Poster" width="250" height="300"></td>
    </tr>
    <tr>
        <td>3</td>
        <td>
            <li>Product Name: Womenfester Towb=n FC 2021/2022 Third Kit </li>
            <li>Review:The 2020/2021 third kit could be te worst possible design done by Tuna, the jersey material is not really great too. We will never win UEFA Champions league with such kits. </li>
        </td>
        <td><img src="https://i2-prod.football.london/incoming/article16023865.ece/ALTERNATES/s1200c/0_nike-man-city-celebration-jersey-01_original.jpg" alt="Poster" width="250" height="300"></td>
    </tr>
</table>

<style type="text/css" media="screen">

table{
border-collapse:collapse;
border:3px solid #614f53;
}

table td{
border:3px solid #614f53;
}
</style>
