<h3>BrandsContentComponent</h3>

<h5>This page is to display the categories for brands</h5>

<button class="btn btn-dark">Football</button>
<button class="btn btn-dark">Basketball</button>
<button class="btn btn-dark">Tennis</button>
<button class="btn btn-dark">Floorball</button>
@code {

}
